auto-install-peers=true

# Ensures all core modules, engines, and framework layers share the exact same types and versions
public-hoist-pattern[]=*@medusajs/*

# Ensures custom admin extensions/widgets share the same cache instance as the core dashboard
public-hoist-pattern[]=@tanstack/react-query

# Ensures internationalization dictionaries are unified across core and custom views
public-hoist-pattern[]=react-i18next

# Ensures custom dashboard extensions don't break the core UI's routing context
public-hoist-pattern[]=react-router-dom
